.bg-a{
    background: $primary-color;
}
.color-a{
    color: $primary-color;
}

.bg-b{
    background:$secondary-color;
}
.color-b{
    color: $secondary-color;
}
.bg-c{
    background: $third-color;
}
.color-c{
    color: $third-color;
}
